.divOpen {
    position: fixed;
    margin-top: -10px;
    margin-left: -10px;
    width: 100%;
    height: 100%;
    background-image: url('../../../public/game1.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.divButton {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link {
    text-decoration: none;
}


button{
position:relative;

}